<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NombreParamHost" value="http://dghpsh.agcontrol.gob.ar/preprod" />
    <add key="NombreParamHostAutorizacion" value="/Api/Authenticate" />
    <add key="NombreParamServiceMail" value="ws.rest.mails" />
    <add key="NombreParamUser" value="WS-SGI" />
    <add key="NombreParamPass" value="prueba123" />
    <add key="NombreParamHostMail" value="/api/emails" />
    <add key="NombreParamServiceFile" value="/ws.rest.files" />
    <add key="NombreParamHostFile" value="/api/files" />
    <add key="NombreParamHostGetImporte" value="AVHHOSVCImporte" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>