<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NombreParamHost" value="http://dghpsh.agcontrol.gob.ar/test" />
    <add key="NombreParamHostAutorizacion" value="/Api/Authenticate" />
    <add key="NombreParamServiceMail" value="ws.rest.mails" />
    <add key="NombreParamUser" value="WS-SGI" />
    <add key="NombreParamPass" value="prueba123" />
    <add key="NombreParamHostMail" value="/api/emails" />

    <add key="NombreParamServiceFile" value="/ws.rest.files" />
    <add key="NombreParamHostFile" value="/api/files" />

    <add key="NombreParamHostGetImporte" value="AVHHOSVCImporte" />
  </appSettings>
</configuration>