<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/select2.css" />
    <include path="~/Content/select2.min.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/styles/bootstrap.min.css" />
    <!--<include path="~/Content/styles/bootstrap-theme.css" />
    <include path="~/Content/styles/bootstrap-theme.css.map" />
    <include path="~/Content/styles/bootstrap-theme.min.css" />-->
    <include path="~/Content/jquery.fileupload-ui.css" />
    <include path="~/Content/jquery.fileupload.noscripts.css" />
    <include path="~/Content/jquery.fileupload-ui.noscripts.css" />
    <include path="~/Content/jquery.fileupload-ui.css" />
    <include path="~/Content/jquery.fileupload.css" />
    <include path="~/Content/jquery.gritter.css" />
    <include path="~/Content/bastrap.css" />
    <include path="~/Content/icon-moon/icon-moon.css" />
    <!--<include path="~/Content/styles/shortcuts.css" />-->
  </styleBundle>
  <styleBundle path="~/Content/themes/base/css">
    <include path="~/Content/styles/jquery-ui.structure.css" />
    <include path="~/Content/styles/jquery-ui.theme.css" />
    <include path="~/Content/styles/jquery-ui.custom.css" />
    <include path="~/Content/themes/base/jquery-ui.css" />
    <include path="~/Content/themes/base/jquery.ui.core.css" />
    <include path="~/Content/themes/base/jquery.ui.resizable.css" />
    <include path="~/Content/themes/base/jquery.ui.selectable.css" />
    <include path="~/Content/themes/base/jquery.ui.accordion.css" />
    <include path="~/Content/themes/base/jquery.ui.autocomplete.css" />
    <include path="~/Content/themes/base/jquery.ui.button.css" />
    <include path="~/Content/themes/base/jquery.ui.dialog.css" />
    <include path="~/Content/themes/base/jquery.ui.slider.css" />
    <include path="~/Content/themes/base/jquery.ui.tabs.css" />
    <include path="~/Content/themes/base/jquery.ui.datepicker.css" />
    <include path="~/Content/themes/base/jquery.ui.progressbar.css" />
    <include path="~/Content/themes/base/jquery.ui.theme.css" />
  </styleBundle>
</bundles>
