<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>


  <appSettings>
    <add key="HeaderMailImg" value="http://clientes.grupomost.com/gcba/SSIT/Mailer/img/header.png" />
    <add key="FooterMailImg" value="http://clientes.grupomost.com/gcba/SSIT/Mailer/img/footer.png" />
    <add key="NombreParamHost" value="http://www.dghpsh.agcontrol.gob.ar/test" />
    <add key="NombreParamHostAutorizacion" value="/Api/Authenticate" />
    <add key="NombreParamUser" value="WS-SGI" />
    <add key="NombreParamPass" value="123456" />
    <add key="NombreParamHostMail" value="/api/emails" />
    <add key="NombreParamServiceFile" value="/ws.rest.files" />
    <add key="NombreParamServiceMail" value="/ws.rest.mails" />
    <add key="NombreParamHostFile" value="/api/files" />
    <add key="NombreParamServicePagos" value="/ws.rest.pagos" />
    <add key="NombreParamDeleteFile" value="/api/DeleteFiles" />
    <add key="NombreParamServiceReporting" value="/ws.rest.reporting" />
  </appSettings>

  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EncomiendadigitalEntityes" connectionString="metadata=res://*/EncomiendaDigital.csdl|res://*/EncomiendaDigital.ssdl|res://*/EncomiendaDigital.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.72.31;initial catalog=DGHP_Solicitudes_preprod;persist security info=True;user id=sa;password=admin;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>