<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="NombreParamHost" value="http://dghpsh.agcontrol.gob.ar/test" />
    <add key="NombreParamHostAutorizacion" value="/Api/Authenticate" />
    <add key="NombreParamUser" value="WS-SGI" />
    <add key="NombreParamPass" value="prueba123" />
    <add key="NombreParamServiceFile" value="/ws.rest.files" />
    <add key="NombreParamHostFile" value="/api/files" />
    <add key="NombreParamDeleteFile" value="/api/DeleteFiles" />
    <add key="NombreParamServiceReporting" value="/ws.rest.reporting" />
    <add key="Ambiente" value="TEST" />
    <add key="NroSolicitudReferencia" value="379730" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Cnn" connectionString="Data Source=10.20.72.31;Initial Catalog=DGHP_Solicitudes;UID=sa;pwd=admin;Max Pool Size=50;Connection Timeout=60" providerName="System.Data.SqlClient" />
    <add name="EncomiendadigitalEntityes" connectionString="metadata=res://*/EncomiendaDigital.csdl|res://*/EncomiendaDigital.ssdl|res://*/EncomiendaDigital.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.72.31;initial catalog=DGHP_Solicitudes;persist security info=True;user id=sa;password=admin;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>