<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<connectionStrings>
		<add name="EncomiendadigitalEntityes" connectionString="metadata=res://*/EncomiendaDigital.csdl|res://*/EncomiendaDigital.ssdl|res://*/EncomiendaDigital.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.72.31;initial catalog=DGHP_Solicitudes;persist security info=True;user id=sa;password=admin;multipleactiveresultsets=True;application name=SSIT&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="NombreParamHostAutorizacion" value="/Api/Authenticate" />
		<add key="NombreParamServiceFile" value="/ws.rest.files" />
		<add key="NombreParamServiceReporting" value="/ws.rest.reporting" />
		<add key="NombreParamHost" value="http://dghpsh.agcontrol.gob.ar/test" />
		<add key="NombreParamUser" value="WS-SGI" />
		<add key="NombreParamPass" value="prueba123" />
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>